.title {
  background-color: #18283f;
  display: flex;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  height: 75px;
  background-image: url(../public/Rect.svg);
  @media screen and (min-width: 960px) {
    width: calc(100% - 20vw);
    margin-left: auto;
    height: 110px;
    padding-left: 5%;
  }
  h2 {
    padding-bottom: 2px;
    margin-left: 5px;
    font-size: 1.8rem;
    display: block;
    line-height: 75px;
    font-weight: 900;
    @media screen and (min-width: 960px) {
      line-height: 110px;
      font-size: 2.5rem;
      font-weight: 800;
    }
  }
  .decoration {
    width: 40px;
  }
}
.side {
  display: none;

  @media screen and (min-width: 960px) {
    display: block;
    height: 100vh;
    width: 116px;
    position: fixed;
    right: 0;
    background-color: #18283f;
    color: #fff;
    z-index: 99;
    &::before {
      content: '';
      position: fixed;
      height: 110px;
      width: 1080px;

      background: url(../public/Rect.svg);
      transform: rotate(90deg);
      transform-origin: left bottom;
      z-index: 999;
    }

    .side__title {
      position: absolute;
      top: 40%;
      font-size: 3.5rem;
      transform: rotate(90deg);
      transform-origin: top;
      color: #fff;
      z-index: 10000;
      font-weight: 600;
    }
  }
}
.container {
  background-color: #fff;
  min-height: 100vh;
  min-height: calc(100vh - 110px);
  margin-top: 75px;
  padding: 10%;
  padding-top: 15%;

  @media screen and (min-width: 960px) {
    width: 100%;
    padding: 3% 7%;
    padding-right: 20%;
    width: calc(100% - 20vw);
    margin-left: auto;
    margin-top: 110px;
  }
  a {
    color: #1b8eda;
  }

  p {
    padding: 0.5rem;
    font-size: 1.8rem;
    font-size: 1.5rem;
    margin-bottom: 50px;
    @media screen and (min-width: 960px) {
      font-size: 1.8rem;
    }
  }
  li {
    list-style-type: disc;
    font-size: 1.5rem;
    margin-bottom: 20px;
    @media screen and (min-width: 960px) {
      font-size: 1.8rem;
    }
  }
  h2 {
    color: #1b8eda;
    margin-bottom: 5px;
    // font-size: 1.8rem;
    font-size: 2rem;

    padding: 0.25em 0.5em; /*上下 左右の余白*/
    color: #494949; /*文字色*/
    background: transparent; /*背景透明に*/
    border-left: solid 5px #7db4e6; /*左線*/
    @media screen and (min-width: 960px) {
      font-size: 2rem;
    }
  }
  .btn__square {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #18283f; /*背景色*/
    margin: 0 auto;
    color: #fff; /*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
    border-bottom: solid 2px #18283f;
    border-radius: 4px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      margin: auto 0;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      border-top: solid 4px #fff;
      border-right: solid 4px #fff;
    }
    @media screen and (min-width: 960px) {
      width: 200px;
    }
  }
  &:active {
    border-bottom: solid 2px #00bcd4;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
  }

  .information__tate {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 700;
    transform: rotate(90deg);
    transform-origin: left top;
    padding: 10px 72px;
    letter-spacing: 1px;
    @media screen and (min-width: 960px) {
      font-weight: 900;
    }
    &::before {
      content: '';
      position: absolute;
      border-top: 1px solid;
      width: 60px;
      height: auto;
      top: 19px;
      left: 0px;
      bottom: 17px;
    }
  }
}
