.footer {
  .share {
    display: block;
    margin-bottom: 20px;

    img {
      width: 44px;
    }
    .share__title {
      margin-bottom: 10px;
      color: #fff;
      margin-bottom: 15px;
    }
  }
  .menuList__link {
    margin-bottom: 10px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  width: 100%;
  padding: 10%;
  padding-bottom: 15%;
  color: #fff;
  background-color: #151d21;
  margin-bottom: 94px;
  margin-bottom: calc(env(safe-area-inset-bottom) + 44px + 50px);
  font-size: 1.8rem;
  @media screen and (min-width: 960px) {
    margin-bottom: 0;
    padding: 5% 7%;
    padding-right: 20%;
    width: calc(100% - 20vw);
    margin-left: auto;
  }
}
