.wrapper {
  input {
    display: none;
    &:checked {
      ~ .container {
        .menu {
          label {
            .menu__inner {
              background: transparent;
              transform: rotate(180deg);
              &::before {
                transform: rotate(45deg);
                top: 0;
              }
              &::after {
                transform: rotate(-45deg);
                top: 0;
              }
            }
          }
        }
      }
      ~ .navWrap {
        nav {
          bottom: 94px; //セーフゾーンとフッターの高さ
          bottom: calc(env(safe-area-inset-bottom) + 44px + 50px);
          @media screen and (min-width: 960px) {
            bottom: 0;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    z-index: 10000;
    background-color: #16212b;
    position: fixed;
    width: 100%;
    height: 94px;
    height: calc(env(safe-area-inset-bottom) + 44px + 50px);
    bottom: 0;
    &::before {
      content: '';
      display: block;
      height: 4px;
      background: linear-gradient(to right, #3fa9f5 0%, #ed1e79 100%);
    }
    .menu {
      .menu__button {
        width: 70px;
        height: 60px;
        position: absolute;
        top: 50px;
        z-index: 100000;
        left: calc(50% - 35px);
      }
      position: absolute;
      top: -75px;
      width: 150px;
      left: calc(50% - 75px);
      .menu__text {
        width: 55px;
        position: absolute;
        top: 40px;
        left: calc(50% - 30px);
      }
      .menu__inner {
        position: absolute;
        width: 50px;
        height: 1px;
        top: 20px;
        z-index: 100000;
        left: calc(50% - 27px);
        background: #fff;
        transition: 0.4s;
        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          transition: 0.4s;
        }
        &::after {
          top: 14px;
        }
        &::before {
          top: -14px;
        }
      }
      @media screen and (min-width: 960px) {
        display: none;
      }
    }
    .menu__btn {
      position: absolute;
      top: 15px;
      width: 10vw;
      left: 15%;
      @media screen and (min-width: 960px) {
        display: none;
      }
    }
    @media screen and (min-width: 960px) {
      display: none;
    }
  }
  .navWrap {
    @media screen and (min-width: 960px) {
      background-color: #16212b;
      width: 20%;
      height: 100%;
      max-height: 100vh;
      display: flex;
      flex-flow: column;
      position: fixed;
      height: 100vh;
      padding: 20px;
      top: 0;
      width: 20vw;
      min-width: 250px;
      z-index: 10000;
      overflow: auto;
    }
    .logo {
      display: none;
      @media screen and (min-width: 960px) {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .menuList {
      position: fixed;
      display: block;
      margin: 0 auto;
      width: 100%;
      padding: 25px 55px;
      padding-bottom: 60px;
      box-sizing: border-box;
      background-color: #16212b;
      transition: 0.4s;
      z-index: 1000;
      bottom: -200px;
      bottom: calc(-40vh);
      max-height: 80vh;

      @media screen and (min-width: 960px) {
        position: relative;
        padding: 0;
        bottom: 0;
      }

      .menuList__link {
        position: relative;
        display: block;
        height: 44px;
        line-height: 40px;
        text-decoration: none;
        font-size: 1.5em;
        color: #fff;
        border-bottom: solid 1px #666;
        @media screen and (min-width: 960px) {
          height: 60px;
          line-height: 60px;

          &:hover {
            opacity: 0.6;
            transition: 0.3s;
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto 0;
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          border-top: solid 2px #fff;
          border-right: solid 2px #fff;
        }
      }
    }
    .share {
      display: none;
      @media screen and (min-width: 960px) {
        display: block;
        padding-top: 60px;
      }
      img {
        width: 44px;
        @media screen and (min-width: 960px) {
        }
      }
      .share__title {
        margin-bottom: 10px;
        color: #fff;
        @media screen and (min-width: 960px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
